In [1]:
import pandas as pd
pd.set_option('display.max_columns', None) # Utilizamos este comando para visualizar todas las columnas cuando hacemos un muestreo
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df2 = pd.read_excel('../data/customer-details.xlsx')

In [3]:
df2.sample(5)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
15427,15427,39663,2,0,2012-04-15,22,8e8de326-4cf9-4b79-91d6-ade12eb212d0
7183,7183,58779,0,1,2012-08-26,3,ac25dd1d-3b62-4974-a0a0-2fd253f4afc0
11443,11443,12618,1,2,2012-06-13,3,b5fdd089-8f79-4004-92a2-dd5e2b09143a
19345,19345,53910,2,0,2012-08-29,22,e688a12b-f301-4131-a323-a47a559d082a
19931,19931,76734,2,0,2012-02-23,19,84026c31-939c-4238-98ba-fa89b7eff701

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

In [5]:
print(f'Nuestro archivo "customer-details" de datos presenta un total de {df2.shape[0]} filas y {df2.shape[1]} columnas')

Nuestro archivo "customer-details" de datos presenta un total de 20115 filas y 7 columnas