# Cosas a limpiar en df1 bank-additional

- **Unnamed** --> cambiar descripción a "nº llamada"
- **age** --> cambiar a tipo int64 (la edad se mide en número entero). 
    Hay valores nulos: 5120 nulos (11.9%).
- **job** --> sustituir "-" de "blue-collar" y "self-employed" por "_". 
    Hay valores nulos: 345 nulos (0.8%).
- **marital** --> cambiar a minúscula.
    Hay valores nulos: 85 nulos (0.2%).
- **education** --> cambiar "." por "_"
    Hay valores nulos: 1807 nulos (4.2%).
- **default** --> Cambiar a str (valores booleanos) ó añadir columna nueva. 
    Hay valores nulos: 8981 nulos (20.9%).
- **housing** --> Cambiar a str (valores booleanos) ó añadir columna nueva. 
    Hay valores nulos: 1026 nulos (2.39%).
- **loan** --> Cambiar a str (valores booleanos) ó añadir columna nueva. 
    Hay valores nulos: 1026 nulos (2.39%).
- **contact** --> OK
- **duration** --> OK
- **campaing** --> OK
- **pdays** --> OK. ¿Qué significa 999?
- **previous** --> OK
- **poutcome** --> Cambiar a minuscula
- **emp.var.rate** --> Sustituir "." por "_" del nombre de la columna. 
- **cons.price.idx** --> Sustituir "." por "_" del nombre de la columna. ¿Cambiar el "." de los decimales a ","?
    Hay valores nulos: 471 nulos (1.1%).
- **cons.conf.idx** --> Sustituir "." por "_" del nombre de la columna. ¿Cambiar el "," de los decimales a "." para ser tipo float64
- **euribor3m** --> ¿Cambiar el "," de los decimales a "." para ser tipo float64
    Hay valores nulos: 9256 nulos (21.5%).
- **nr.employed** --> Sustituir "." por "_" del nombre de la columna. ¿Cambiar el "," de los decimales a "." para ser tipo float64
- **y** --> valores booleanos
- **latitude** --> 
- **longitude** -->
- **date** --> cambiar a tipo fecha
    Hay valores nulos 248 nulos (0.58%).
- **contact_month** --> Nueva columna extraída de date
- **contact_year** --> Nueva columna extraída de date
- **id_** --> OK