In [1]:
# Cargamos librerías para análisis de datos
import pandas as pd
import sys
sys.path.append('../../../')
from src import sp_eda as se
pd.set_option('display.max_columns', None) # Utilizamos este comando para visualizar todas las columnas cuando hacemos un muestreo
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_bank = pd.read_csv('../../../data/bank-additional.csv')

In [3]:
df_bank.sample(5)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
21888,21985,39.0,technician,MARRIED,professional.course,NaN,1.0,0.0,cellular,132,1,999,0,NONEXISTENT,1.4,"93,444","-36,1",NaN,"5228,1",no,27-febrero-2019,32.579,-122.842,627cb99e-1630-4b40-9fd0-df881d69af16
34086,34230,29.0,blue-collar,MARRIED,basic.9y,0.0,0.0,0.0,cellular,189,3,999,0,NONEXISTENT,-1.8,"92,893","-46,2",NaN,"5099,1",no,24-noviembre-2016,28.390,-102.725,56246f9b-284e-47c6-9bb2-0ca6abb36463
16660,16757,47.0,technician,DIVORCED,high.school,0.0,0.0,0.0,cellular,42,24,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,962","5228,1",no,14-abril-2018,29.951,-100.672,741fc714-ef51-49c6-a962-5a49db5279f4
16169,16266,37.0,blue-collar,DIVORCED,professional.course,0.0,0.0,0.0,cellular,107,2,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,961","5228,1",no,8-julio-2015,46.288,-107.589,d369bf27-8bd4-4041-853a-2e0f7dbe97c3
42686,12172,37.0,admin.,MARRIED,high.school,0.0,0.0,0.0,telephone,305,1,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,955","5228,1",no,24-noviembre-2015,25.905,-108.071,8711b0e5-156a-4dee-8b75-2776d55e7462

In [4]:
print(f'Nuestro archivo "bank-additional" de datos presenta un total de {df_bank.shape[0]} filas y {df_bank.shape[1]} columnas')

Nuestro archivo "bank-additional" de datos presenta un total de 43000 filas y 24 columnas

In [5]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB

Valores nulos

In [6]:
df_bank.isnull().sum()

Unnamed: 0           0
age               5120
job                345
marital             85
education         1807
default           8981
housing           1026
loan              1026
contact              0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx     471
cons.conf.idx        0
euribor3m         9256
nr.employed          0
y                    0
date               248
latitude             0
longitude            0
id_                  0
dtype: int64

In [7]:
df_bank.isnull().sum()/df_bank.shape[0]*100

Unnamed: 0         0.000000
age               11.906977
job                0.802326
marital            0.197674
education          4.202326
default           20.886047
housing            2.386047
loan               2.386047
contact            0.000000
duration           0.000000
campaign           0.000000
pdays              0.000000
previous           0.000000
poutcome           0.000000
emp.var.rate       0.000000
cons.price.idx     1.095349
cons.conf.idx      0.000000
euribor3m         21.525581
nr.employed        0.000000
y                  0.000000
date               0.576744
latitude           0.000000
longitude          0.000000
id_                0.000000
dtype: float64

Valores duplicados

In [8]:
df_bank.duplicated().sum()

np.int64(0)

Columnas categóricas

In [9]:
df_bank.select_dtypes(include= 'object').columns

Index(['job', 'marital', 'education', 'contact', 'poutcome', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'id_'],
      dtype='object')

En las columnas categóricas están incluidas las columnas 'cons.price.idx', 'cons.conf.idx', 'euribor3m' y 'nr.employed' que son tipo "float64", pero tienen una "," en lugar de "." y no los reconoce como este tipo. Lo trataremos más adelante.

In [10]:
for col in df_bank.select_dtypes(include= 'object').columns:

    print(col.upper())

    print(df_bank[col].value_counts())

    print('------')

JOB
job
admin.           10873
blue-collar       9654
technician        7026
services          4162
management        3050
retired           1790
entrepreneur      1522
self-employed     1489
housemaid         1123
unemployed        1063
student            903
Name: count, dtype: int64
------
MARITAL
marital
MARRIED     25999
SINGLE      12105
DIVORCED     4811
Name: count, dtype: int64
------
EDUCATION
education
university.degree      12722
high.school             9925
basic.9y                6309
professional.course     5477
basic.4y                4356
basic.6y                2386
illiterate                18
Name: count, dtype: int64
------
CONTACT
contact
cellular     27396
telephone    15604
Name: count, dtype: int64
------
POUTCOME
poutcome
NONEXISTENT    37103
FAILURE         4461
SUCCESS         1436
Name: count, dtype: int64
------
CONS.PRICE.IDX
cons.price.idx
93,994    7938
93,918    6937
92,893    5985
93,444    5349
94,465    4522
93,2      3731
93,075    2552
92,201     803
92,963     742
92,431     471
92,649     375
94,215     320
94,199     316
92,843     298
92,379     274
93,369     271
94,027     242
94,055     236
93,876     224
94,601     212
92,469     184
92,713     179
93,749     179
94,767     130
93,798      48
92,756      11
Name: count, dtype: int64
------
CONS.CONF.IDX
cons.conf.idx
-36,4    8020
-42,7    7004
-46,2    6057
-36,1    5408
-41,8    4568
-42      3782
-47,1    2581
-31,4     815
-40,8     748
-26,9     477
-30,1     379
-40,3     328
-37,5     318
-50       299
-29,8     277
-34,8     275
-38,3     245
-39,8     239
-40       225
-49,5     214
-33,6     185
-34,6     183
-33       181
-50,8     133
-40,4      48
-45,9      11
Name: count, dtype: int64
------
EURIBOR3M
euribor3m
4,857    2287
4,962    2124
4,963    2019
4,961    1594
4,964     964
         ...
5,045       1
4,921       1
0,895       1
0,956       1
0,953       1
Name: count, Length: 309, dtype: int64
------
NR.EMPLOYED
nr.employed
5228,1    16980
5099,1     8937
5191       8020
5195,8     3830
5076,2     1748
5017,5     1133
4991,6      812
5008,7      683
4963,6      665
5023,5      181
5176,3       11
Name: count, dtype: int64
------
Y
y
no     38156
yes     4844
Name: count, dtype: int64
------
DATE
date
28-febrero-2018      95
28-febrero-2016      94
28-febrero-2015      92
28-febrero-2017      89
28-febrero-2019      85
                     ..
17-diciembre-2018    11
21-diciembre-2019    10
14-abril-2015        10
4-abril-2017         10
20-noviembre-2015    10
Name: count, Length: 1825, dtype: int64
------
ID_
id_
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
4eed05de-2a98-4227-b488-32122009b638    1
0f0aca88-4088-4fe2-905f-44fb675d9493    1
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b    1
5f432048-d515-4bb5-9c94-62db451f88d4    1
993bbbd6-4dbc-4a40-a408-f91f8462bee6    1
Name: count, Length: 43000, dtype: int64
------

Estadísticos numéricos

In [11]:
display(df_bank.describe().T)

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,43000.0,20651.099047,11868.770913,0.000,10381.75000,20642.5000,30930.25000,41187.000
age,37880.0,39.977112,10.437957,17.000,32.00000,38.0000,47.00000,98.000
default,34019.0,0.000088,0.009390,0.000,0.00000,0.0000,0.00000,1.000
housing,41974.0,0.535998,0.498708,0.000,0.00000,1.0000,1.00000,1.000
loan,41974.0,0.155620,0.362499,0.000,0.00000,0.0000,0.00000,1.000
duration,43000.0,257.739279,258.666033,0.000,102.00000,179.0000,319.00000,4918.000
campaign,43000.0,2.567233,2.772294,1.000,1.00000,2.0000,3.00000,56.000
pdays,43000.0,962.330953,187.260394,0.000,999.00000,999.0000,999.00000,999.000
previous,43000.0,0.174023,0.497366,0.000,0.00000,0.0000,0.00000,7.000
emp.var.rate,43000.0,0.077128,1.573898,-3.400,-1.80000,1.1000,1.40000,1.400
latitude,43000.0,36.856697,7.225948,24.396,30.61475,36.7610,43.11325,49.384
longitude,43000.0,-95.939067,16.752282,-124.997,-110.49425,-95.8995,-81.42775,-66.937

**Función EDA_preliminar**

He definido la función EDA preliminar para este primer conjunto de datos 'bank-additional' y la he extraído a un archivo soporte llamado "sp_eda". A continuación comprobamos que funciona correctamente. Luego haremos la limpieza y transformación de los datos.

In [12]:
se.eda_preliminar(df_bank)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
39962,40129,73.0,retired,MARRIED,basic.4y,0.0,1.0,1.0,telephone,538,2,999,0,NONEXISTENT,-1.7,"94,215","-40,3","0,835","4991,6",no,20-mayo-2016,33.711,-71.593,59a7d469-0ef2-4498-8d8e-011b085cee6b
16752,16849,56.0,technician,MARRIED,professional.course,0.0,1.0,0.0,cellular,224,1,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,962","5228,1",no,24-febrero-2018,41.564,-88.131,bfdc826c-afa4-4144-ab44-911dceb86851
9260,9357,43.0,technician,SINGLE,basic.9y,0.0,1.0,0.0,telephone,461,2,999,0,NONEXISTENT,1.4,"94,465","-41,8","4,967","5228,1",no,29-mayo-2015,24.765,-103.614,01fcaa26-fec7-48de-83dc-8cbad4993716
27244,27388,54.0,admin.,DIVORCED,high.school,0.0,0.0,0.0,cellular,13,6,999,0,NONEXISTENT,-0.1,"93,2",-42,"4,021","5195,8",no,9-diciembre-2016,47.508,-112.797,f0021396-cf80-4829-aecb-d3a906fc6b4a
20391,20488,38.0,technician,SINGLE,high.school,NaN,0.0,0.0,cellular,104,6,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,966","5228,1",no,31-mayo-2017,39.762,-113.739,e72918ea-faba-4a53-b2ec-d7db439edaa5

--------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43000 filas y 24 columnas
--------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB

None

--------
NULOS

Unnamed: 0         0.000000
age               11.906977
job                0.802326
marital            0.197674
education          4.202326
default           20.886047
housing            2.386047
loan               2.386047
contact            0.000000
duration           0.000000
campaign           0.000000
pdays              0.000000
previous           0.000000
poutcome           0.000000
emp.var.rate       0.000000
cons.price.idx     1.095349
cons.conf.idx      0.000000
euribor3m         21.525581
nr.employed        0.000000
y                  0.000000
date               0.576744
latitude           0.000000
longitude          0.000000
id_                0.000000
dtype: float64

--------
DUPLICADOS
Tenemos un total de 0 duplicados
--------
FRECUENCIAS CATEGÓRICAS
JOB
job
admin.           10873
blue-collar       9654
technician        7026
services          4162
management        3050
retired           1790
entrepreneur      1522
self-employed     1489
housemaid         1123
unemployed        1063
student            903
Name: count, dtype: int64
--------
MARITAL
marital
MARRIED     25999
SINGLE      12105
DIVORCED     4811
Name: count, dtype: int64
--------
EDUCATION
education
university.degree      12722
high.school             9925
basic.9y                6309
professional.course     5477
basic.4y                4356
basic.6y                2386
illiterate                18
Name: count, dtype: int64
--------
CONTACT
contact
cellular     27396
telephone    15604
Name: count, dtype: int64
--------
POUTCOME
poutcome
NONEXISTENT    37103
FAILURE         4461
SUCCESS         1436
Name: count, dtype: int64
--------
CONS.PRICE.IDX
cons.price.idx
93,994    7938
93,918    6937
92,893    5985
93,444    5349
94,465    4522
93,2      3731
93,075    2552
92,201     803
92,963     742
92,431     471
92,649     375
94,215     320
94,199     316
92,843     298
92,379     274
93,369     271
94,027     242
94,055     236
93,876     224
94,601     212
92,469     184
92,713     179
93,749     179
94,767     130
93,798      48
92,756      11
Name: count, dtype: int64
--------
CONS.CONF.IDX
cons.conf.idx
-36,4    8020
-42,7    7004
-46,2    6057
-36,1    5408
-41,8    4568
-42      3782
-47,1    2581
-31,4     815
-40,8     748
-26,9     477
-30,1     379
-40,3     328
-37,5     318
-50       299
-29,8     277
-34,8     275
-38,3     245
-39,8     239
-40       225
-49,5     214
-33,6     185
-34,6     183
-33       181
-50,8     133
-40,4      48
-45,9      11
Name: count, dtype: int64
--------
EURIBOR3M
euribor3m
4,857    2287
4,962    2124
4,963    2019
4,961    1594
4,964     964
         ...
5,045       1
4,921       1
0,895       1
0,956       1
0,953       1
Name: count, Length: 309, dtype: int64
--------
NR.EMPLOYED
nr.employed
5228,1    16980
5099,1     8937
5191       8020
5195,8     3830
5076,2     1748
5017,5     1133
4991,6      812
5008,7      683
4963,6      665
5023,5      181
5176,3       11
Name: count, dtype: int64
--------
Y
y
no     38156
yes     4844
Name: count, dtype: int64
--------
DATE
date
28-febrero-2018      95
28-febrero-2016      94
28-febrero-2015      92
28-febrero-2017      89
28-febrero-2019      85
                     ..
17-diciembre-2018    11
21-diciembre-2019    10
14-abril-2015        10
4-abril-2017         10
20-noviembre-2015    10
Name: count, Length: 1825, dtype: int64
--------
ID_
id_
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
4eed05de-2a98-4227-b488-32122009b638    1
0f0aca88-4088-4fe2-905f-44fb675d9493    1
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b    1
5f432048-d515-4bb5-9c94-62db451f88d4    1
993bbbd6-4dbc-4a40-a408-f91f8462bee6    1
Name: count, Length: 43000, dtype: int64
--------
--------
ESTADISTICOS NUMÉRICOS

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,43000.0,20651.099047,11868.770913,0.000,10381.75000,20642.5000,30930.25000,41187.000
age,37880.0,39.977112,10.437957,17.000,32.00000,38.0000,47.00000,98.000
default,34019.0,0.000088,0.009390,0.000,0.00000,0.0000,0.00000,1.000
housing,41974.0,0.535998,0.498708,0.000,0.00000,1.0000,1.00000,1.000
loan,41974.0,0.155620,0.362499,0.000,0.00000,0.0000,0.00000,1.000
duration,43000.0,257.739279,258.666033,0.000,102.00000,179.0000,319.00000,4918.000
campaign,43000.0,2.567233,2.772294,1.000,1.00000,2.0000,3.00000,56.000
pdays,43000.0,962.330953,187.260394,0.000,999.00000,999.0000,999.00000,999.000
previous,43000.0,0.174023,0.497366,0.000,0.00000,0.0000,0.00000,7.000
emp.var.rate,43000.0,0.077128,1.573898,-3.400,-1.80000,1.1000,1.40000,1.400
latitude,43000.0,36.856697,7.225948,24.396,30.61475,36.7610,43.11325,49.384
longitude,43000.0,-95.939067,16.752282,-124.997,-110.49425,-95.8995,-81.42775,-66.937