In [1]:
# Cargamos librerías para análisis de datos
import pandas as pd
import sys
sys.path.append('../../../')
from src import sp_eda as se
pd.set_option('display.max_columns', None) # Utilizamos este comando para visualizar todas las columnas cuando hacemos un muestreo
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_customer = pd.read_excel('../../../data/customer-details.xlsx')

In [4]:
df_customer.sample(5)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
9405,9405,55600,0,0,2012-11-18,29,8b9b18f0-5c25-4cc6-b97c-9c1c4f997114
18038,18038,86270,1,2,2012-01-12,5,100cf983-154b-49bc-9960-4536cf7edb3a
205,205,99210,1,1,2012-05-20,30,a2bc8912-a3b3-441e-9bd7-df62dbae15aa
11955,11955,36766,2,1,2012-02-15,4,3a76b37b-5a37-4f01-908c-ba40ee4e09ac
12454,12454,103967,1,2,2012-11-28,27,5b35fee4-08c4-429b-b4bf-6fcc655c648b

In [7]:
print(f'Nuestro archivo "customer-details" de datos presenta un total de {df_customer.shape[0]} filas y {df_customer.shape[1]} columnas')

Nuestro archivo "customer-details" de datos presenta un total de 20115 filas y 7 columnas

In [8]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

Valores nulos

In [9]:
df_customer.isnull().sum()

Unnamed: 0           0
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
NumWebVisitsMonth    0
ID                   0
dtype: int64

In [11]:
df_customer.isnull().sum()/df_customer.shape[0]*100

Unnamed: 0           0.0
Income               0.0
Kidhome              0.0
Teenhome             0.0
Dt_Customer          0.0
NumWebVisitsMonth    0.0
ID                   0.0
dtype: float64

Valores duplicados

In [12]:
df_customer.duplicated().sum()

np.int64(0)

Columnas categóricas

In [13]:
df_customer.select_dtypes(include= 'object').columns

Index(['ID'], dtype='object')

In [14]:
for col in df_customer.select_dtypes(include= 'object').columns:

    print(col.upper())

    print(df_customer[col].value_counts())

    print('------')

ID
ID
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
25f35a3f-0fd2-4e6a-b4d5-74fa1a1f4cfc    1
a3d2d088-3781-44ea-9944-a4a40df51285    1
3769cb72-26be-40f2-9a93-f752fc96d628    1
d507f6b3-a030-46d7-9615-61fe3f6b8028    1
8299f0a6-e4c0-49fc-87ab-81308b70f80f    1
Name: count, Length: 20115, dtype: int64
------

Estadísticos numéricos

In [15]:
display(df_customer.describe().T)

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,20115.0,10057.0,0.0,5028.5,10057.0,15085.5,20114.0,5806.844668
Income,20115.0,93087.213224,5852.0,49110.0,92962.0,136705.0,180791.0,50614.798255
Kidhome,20115.0,1.004176,0.0,0.0,1.0,2.0,2.0,0.816811
Teenhome,20115.0,0.999503,0.0,0.0,1.0,2.0,2.0,0.815298
Dt_Customer,20115,2012-07-01 17:15:14.362416128,2012-01-01 00:00:00,2012-04-01 00:00:00,2012-07-02 00:00:00,2012-09-30 00:00:00,2012-12-31 00:00:00,NaN
NumWebVisitsMonth,20115.0,16.54079,1.0,9.0,16.0,25.0,32.0,9.235324

**Función EDA_preliminar**

Vamos a comprobar que la función "eda_preliminar" que hemos definido anteriormete y está en el archivo soporte funciona correctamente.

In [16]:
se.eda_preliminar(df_customer)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
9428,9428,15534,2,0,2012-10-28,20,2d6605d8-5e92-4a6c-836a-e415c4c0c2a8
11063,11063,157969,0,0,2012-02-16,19,f009d59c-4e5c-4a4c-aa86-5a919e9abd53
5134,5134,113075,2,2,2012-03-21,19,2dca0abf-2f5a-45b2-bbc5-7a2344dfa66c
6296,6296,65898,2,1,2012-05-14,30,c19529d9-7716-4f82-a946-1ba939403f93
8281,8281,80775,2,1,2012-03-03,10,bb8b33f5-fbb4-456f-85a4-37726c97619e

--------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 20115 filas y 7 columnas
--------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

None

--------
NULOS

Unnamed: 0           0.0
Income               0.0
Kidhome              0.0
Teenhome             0.0
Dt_Customer          0.0
NumWebVisitsMonth    0.0
ID                   0.0
dtype: float64

--------
DUPLICADOS
Tenemos un total de 0 duplicados
--------
FRECUENCIAS CATEGÓRICAS
ID
ID
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
25f35a3f-0fd2-4e6a-b4d5-74fa1a1f4cfc    1
a3d2d088-3781-44ea-9944-a4a40df51285    1
3769cb72-26be-40f2-9a93-f752fc96d628    1
d507f6b3-a030-46d7-9615-61fe3f6b8028    1
8299f0a6-e4c0-49fc-87ab-81308b70f80f    1
Name: count, Length: 20115, dtype: int64
--------
--------
ESTADISTICOS NUMÉRICOS

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,20115.0,10057.0,0.0,5028.5,10057.0,15085.5,20114.0,5806.844668
Income,20115.0,93087.213224,5852.0,49110.0,92962.0,136705.0,180791.0,50614.798255
Kidhome,20115.0,1.004176,0.0,0.0,1.0,2.0,2.0,0.816811
Teenhome,20115.0,0.999503,0.0,0.0,1.0,2.0,2.0,0.815298
Dt_Customer,20115,2012-07-01 17:15:14.362416128,2012-01-01 00:00:00,2012-04-01 00:00:00,2012-07-02 00:00:00,2012-09-30 00:00:00,2012-12-31 00:00:00,NaN
NumWebVisitsMonth,20115.0,16.54079,1.0,9.0,16.0,25.0,32.0,9.235324