In [1]:
# Tratamiento de datos

import pandas as pd
pd.set_option('display.max_columns', None)

# ----------

# Exploración de archivos
import sys
sys.path.append('../../../')

#----------

# Funciones personalizadas
from src import sp_eda as se

In [2]:
df_customer = pd.read_excel('../../../data/customer-details.xlsx')

In [3]:
se.eda_preliminar(df_customer)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
11766,11766,150247,1,2,2012-05-08,4,561c9523-3381-41dc-a36d-e97e471aadab
586,586,132488,1,2,2012-02-04,13,1e8b4680-70c3-4453-b24f-6bcf8ca16427
2294,2294,18693,2,1,2012-03-29,29,28f5eef3-9041-4b6f-8c48-ac9f860740af
18049,18049,88744,2,1,2012-08-21,29,9ab1e8d2-0f6e-4e9b-91c2-5fd5176cb473
17735,17735,37052,0,2,2012-08-28,23,692a8774-f76c-40c3-bf79-831f0b38168e

--------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 20115 filas y 7 columnas
--------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20115 entries, 0 to 20114
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20115 non-null  int64
 1   Income             20115 non-null  int64
 2   Kidhome            20115 non-null  int64
 3   Teenhome           20115 non-null  int64
 4   Dt_Customer        20115 non-null  datetime64[ns]
 5   NumWebVisitsMonth  20115 non-null  int64
 6   ID                 20115 non-null  object
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.1+ MB

None

--------
NULOS

Unnamed: 0           0.0
Income               0.0
Kidhome              0.0
Teenhome             0.0
Dt_Customer          0.0
NumWebVisitsMonth    0.0
ID                   0.0
dtype: float64

--------
DUPLICADOS
Tenemos un total de 0 duplicados
--------
FRECUENCIAS CATEGÓRICAS
ID
ID
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
25f35a3f-0fd2-4e6a-b4d5-74fa1a1f4cfc    1
a3d2d088-3781-44ea-9944-a4a40df51285    1
3769cb72-26be-40f2-9a93-f752fc96d628    1
d507f6b3-a030-46d7-9615-61fe3f6b8028    1
8299f0a6-e4c0-49fc-87ab-81308b70f80f    1
Name: count, Length: 20115, dtype: int64
--------
--------
ESTADISTICOS NUMÉRICOS

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,20115.0,10057.0,0.0,5028.5,10057.0,15085.5,20114.0,5806.844668
Income,20115.0,93087.213224,5852.0,49110.0,92962.0,136705.0,180791.0,50614.798255
Kidhome,20115.0,1.004176,0.0,0.0,1.0,2.0,2.0,0.816811
Teenhome,20115.0,0.999503,0.0,0.0,1.0,2.0,2.0,0.815298
Dt_Customer,20115,2012-07-01 17:15:14.362416128,2012-01-01 00:00:00,2012-04-01 00:00:00,2012-07-02 00:00:00,2012-09-30 00:00:00,2012-12-31 00:00:00,NaN
NumWebVisitsMonth,20115.0,16.54079,1.0,9.0,16.0,25.0,32.0,9.235324